@charset "UTF-8";
/* Обнуление стилей */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media (max-width: 1024px) {
  html,
  body {
    font-size: 16px;
  }
}

h1 {
  font-size: 48px;
  line-height: 140%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px 44px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 26px;
  line-height: 130%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h2 {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  h3 {
    font-size: 18px;
  }
}
